In [9]:
import pandas as pd

In [4]:
print("{:04d}".format(100))

0100

In [5]:
#https://stackoverflow.com/questions/134934/display-number-with-leading-zeros

In [7]:
for i in range(10):
    print("{:04d}".format(i))

0000
0001
0002
0003
0004
0005
0006
0007
0008
0009

In [10]:
#test leeres Datenset zu erschaffen
columns = ['x','y','area','intensity']
df = pd.DataFrame(columns=columns)

In [11]:
df

Empty DataFrame
Columns: [x, y, area, intensity]
Index: []